body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1208px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1254px;
  height:108px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 51, 102, 0.349019607843137);
}
#u8 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:461px;
  width:1254px;
  height:108px;
  opacity:0.05;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:1250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:49px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:491px;
  width:390px;
  height:49px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:386px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:47px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 51, 102, 0.349019607843137);
}
#u12 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:612px;
  width:281px;
  height:47px;
  opacity:0;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Californian FB Bold', 'Californian FB';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:491px;
  width:258px;
  height:49px;
  font-family:'Californian FB Bold', 'Californian FB';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:254px;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:49px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cc Regular', 'Cc';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:underline;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:491px;
  width:261px;
  height:49px;
  font-family:'Cc Regular', 'Cc';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:underline;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:257px;
  word-wrap:break-word;
}
